[Unit]
Description=smith

[Service]
Type=forking
PIDFile=/var/run/smith_hids.pid
ExecStart=/opt/smith/smithworker1
Restart=always

[Install]
WantedBy=multi-user.target